<div class='about-visual px-5 px-sm-0'>

    <div class='col-md-11 offset-md-1'>

        <div class="d-flex align-items-center justify-content-center" style="height:300px;">

            <span class="about-text">
                 ながのCAKEは全国発送可能なケーキ屋さんです。<br>
                 お子様からお年寄りの方までお召しあがりいただけるよう、<br>
                 様々なバリエーションを用意しております。<br>
                 また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
                 ぜひご注文ください。
            </span>
        </div>

    </div>

</div>
<div class="row plugin">
  <div class="offset-sm-1 col-sm-3 mt-5">
     <a class="twitter-timeline" data-width="220" data-height="250" data-theme="light" href="https://twitter.com/CAKE_teamA?ref_src=twsrc%5Etfw">Tweets by CAKE_teamA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="col-sm-2 mt-5">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1CCUCqr678RB_fZMavY9GAN8XgsWXhfjD" width="500" height="250"></iframe>
  </div>
 
</div>